/*combine multiple classes*/
.one{
    border-bottom: 2px solid red;
    color: red;
}
.two{
    border-bottom: 2px solid green;
    color: green;
}
.three{
    border-bottom: 2px solid blue;
    color: blue;
}
.four{
    border-bottom: 2px solid black;
    color: black;
}
.one,
.two,
.three,
.four {
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(206, 206, 206);
}
/* 
``(Nesting)``
*/
div p{
    color: blue;
}
p{
    color: rgb(13, 109, 80);
}
div .special{
    color: burlywood;
}