/*
  Flexible Box
  For Parent
  - display: flex => To Start Flexible Box
  - flex-direction: row => Default Value(بالعرض)
  - flex-wrap: nowrap => Default Value
  - flex-flow: [Flex-Direction] + [Flex-Wrap]
*/
/*
row-reverse
column-reverse
nowrap: if you put 6 thing or more by width 50% it will small it to be in one row
wrap reverse
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .flex {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;/*بالطول*/
  }
  .flex div {
    background-color: #f00;
    color: white;
    width: 25%;
    text-align: center;
    padding: 20px;
  }
  .float {
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
  }
  .float div {
    background-color: #f00;
    color: white;
    float: right;
    width: 25%;
    text-align: center;
    padding: 20px;
  }