/*
 align-content: stretch => Default Value 
 treat with content of container
 flex-start: elements in container will be up
 flex-end: elements in container will be down
 center
 space between: width remaing will be between element
 space around: width remaing will be before and after element 
 space-evenly: combined space between and space around
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .flex {
    background-color: #eee;
    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
  }
  .flex div {
    background-color: #f00;
    color: white;
    width: calc(100% / 3);
    text-align: center;
    padding: 20px;
  }